*{
    font-family: Helvetica, Arial, sans-serif;
    
}
body{
    padding: 30px;

}
h2{
    text-align: center;
}

input{
    width: 100%;
    font-size: 1.3rem;
    color: gray;
}

/* PARA QUE SE ADAPTEN SEGUN EL ESPACIO */
.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    align-content: center;
    border: 6px solid gray;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.card p{
    text-align: center;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;

}
.card img{
    max-height: 170px;
}